{% extends 'shop/base.html' %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 m-4">
            <div class="card shadow-lg p-4">
                <h1 class="mt-2 mb-4">Checkout</h1>
                <ul class="list-group mb-4">
                    {% for item in cart %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="media">
                            <img src="{{item.product.image.url}}" class="mr-3 rounded-circle img-thumbnail" height="60" width="60" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">{{item.product.name}}</h5>
                                {{item.price}}
                                <span class="badge badge-primary badge-pill">{{item.quantity}}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="col-md-4">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Total</th>
                                <td class="text-right">${{ cart.get_total_price }}</td>
                            </tr>
                            {% if cart.coupon %}
                                <tr>
                                    <th>Subtotal ({{ cart.coupon.discount }}% Off)</th>
                                    <td class="text-success text-right">${{ cart.get_total_price_after_discount }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_first_name">First Name</label>
                            <input type="text" class="form-control" name="first_name" maxlength="100" required id="id_first_name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_last_name">Last Name</label>
                            <input type="text" class="form-control" name="last_name" maxlength="100" required id="id_last_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email</label>
                        <input type="email" class="form-control" name="email" maxlength="254" required id="id_email">
                    </div>
                    <div class="form-group">
                        <label for="id_address">Address</label>
                        <textarea name="address" class="form-control" cols="40" rows="4" required id="id_address"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_postal_code">Postal Code</label>
                            <input type="text" name="postal_code" maxlength="20" class="form-control" required id="id_postal_code">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_city">City</label>
                            <input type="text" class="form-control" name="city" maxlength="100" required id="id_city">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4">Place Your Order</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
